@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', serif;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(images/weston-mackinnon-8dmM7X2Lxr8-unsplash.jpg);
    background-size: cover;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: rgba(24, 24, 24, 0.8);
    width: 40vh;
    height: 40vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
}

h1, h2, p{
    margin-bottom: 10px;
    color: #fff;
}

